.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear:both;
}

.align-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-button {
    margin: 5px auto !important;
    margin-top: 15px;
    width: 88px;
}